<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header>
    <div>
        <a href={% url 'cw_home_page' %}>Company home | </a>
        <a href={% url 'cw_about_page' %}>Company about | </a>
        <a href={% url 'pw_about' %}>Personal about | </a>
        <a href="{% url 'hw_home_page' %}">Hello, world!</a>
    </div>
</header>
{% block content %}{% endblock %}
</body>
</html>